* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #eb6ae0;
    color: rgb(248, 117, 220);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 7;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}
